{% extends "customBase.twig" %}

{% block title %}Blog | PixSalle{% endblock %}
{% block head %}{% endblock %}
{% block style %}
    <style>
        input {
            background-color: #C5C6C7;
            min-height: 1.5vw;
            border: none;
            margin: 3px;
        }
        input:focus{
            border: none;
            outline: none;
            color: black;
        }
        input:hover{
            color: #66FCF1;
        }
        .blogForm{
            display: flex;
            flex-direction: column;
            width: 20.5vw;
        }
        #contentID{
            height: 40vh;
        }
        .blog_elements{
            margin-bottom: 10vh;
        }
        ul{
            list-style: none;
        }

    </style>
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
        <h1>{{ blog.title }} Blog</h1>
        <p>{{ blog.title }}</p>
        <p>{{ blog.content }}</p>
        <p>{{ blog.author}}</p>
{% endblock %}