{% extends "customBase.twig" %}


{% block title %}Change Password | PixSalle{% endblock %}
{% block head %}{% endblock %}
{% block style %}
    <style>
    input {
        background-color: #C5C6C7;
        min-height: 1.5vw;
        border: none;
        margin: 3px;
    }
    input:focus{
        border: none;
        outline: none;
        color: #66FCF1; 
    }
    input:hover{
        color: #66FCF1;
    }
    .sub{
        background-color: transparent;
    }
    .err{
        color: red;
        margin: 3px;
    }
    .succ{
        color: green;
        margin: 3px;
    }
    </style>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <h1>Change Password</h1>
    <form action="/profile/changePassword" method="post" enctype="multipart/form-data">
        <input type="password" placeholder="Enter old password" name="oldPass" id="oldPass"></br>
        <input type="password" placeholder="Enter new password" name="newPass" id="newPass"></br>
        <input type="password" placeholder="Confirm new password" name="conPass" id="conPass"></br>
        <p class=err>{{ errPass }}</p>
        <p class=succ>{{ succ }}</p>
        <input type="submit" name="up" value="Change Password">
    </form>
{% endblock %}
{% block footer %}{% endblock %}
