{% extends "customBase.twig" %}


{% block title %}Landing | PixSalle{% endblock %}
{% block head %}{% endblock %}
{% block style %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <h1>Welcome to PixSalle</h1>
    <h2>Share your photos with your friends, in the new la Salle image sharing service.</h2>
    <h3></h3>
{% endblock %}
{% block footer %}{% endblock %}
